//Colors
$light: #fff;
$dark: #000;
$metaMenuBlue: #0062cc;
$textColor: #000;
$mainColor: #f0f0f8;
$arrowsColor: #888;
$dotColor: #717171;


//Dimensions

$fullwidth: 100%;
$mobileUlWidth: 100vw;

//Breakpoints
$breakpoints: (
    xxs: 360px,
    xs: 510px,
    s: 620px,
    ssm: 750px,
    sm: 798px,
    m: 830px,
    xm: 1052px,
    ml: 1198px,
    l: 1362px,
    xl: 1478px,
    xxl: 1692px,
);