@import './mixins/mixins.scss';
@import './mixins/variables.scss';
@import "../../bower_components/mappy-breakpoints/mappy-breakpoints";

.App {
  text-align: center;
  background-color: $light;
  min-height: 100vh;
}

html{overflow-x:hidden;}

  #container{
      width:100%;
      height:100%;
      margin:auto;
      font-family: Arial, Helvetica, sans-serif;
  }

  #header{
      background-color: $metaMenuBlue;
      min-height: 3vh;
      padding-bottom: 2%;
      color: $light;   
      @include mappy-bp(max-width m){height: 80px;}
      @include mappy-bp(max-width s){height: 100px;}
      @include mappy-bp(max-width xs){width: 100%;}
  }

  a{
    &:link{
        cursor: pointer;
        text-decoration: none; 
    }
    &:visited{color:#000;}
    &:hover{color: $metaMenuBlue;}
}

  button {
    a:visited{color: $metaMenuBlue;}
    &:hover{box-shadow: 0 0 1em 2px $metaMenuBlue;}
  }

  /*first two divs with phone number and working hours*/
  .headdivs{
     text-align: center;
     font-size: 15px;
     p{
      @include mappy-bp(max-width xxs){
        margin-top: 10px; 
        margin-bottom: 0;
      }
     }
     @include mappy-bp(max-width xs){text-align: left;}
  }
  /*working hours*/
  #left{
      float:left;
      margin-left:3%;
  }

  /*contact phone*/
  #right{
      float:right;
      margin-right:3%;
      @include mappy-bp(max-width m){
        float:left;
        margin-left:3%;
      }
      @include mappy-bp(max-width m){margin-right: 0;}
  }

  #logo-pic{
      float: left;
      padding: 1%;
      @include mappy-bp(max-width sm){padding: 1%;}
      @include mappy-bp(max-width s){
        margin-bottom: 2vw;
        margin-top: 6%;
      }
      @include mappy-bp(max-width xs){
        margin-top: 4%;
      }
      @include mappy-bp(max-width xxs){
        padding-left: 0;
        padding-bottom: 5%;
      }
  }

  #navbar{
    display: flex;
    justify-content: flex-end;
    width: inherit;
    margin-right: 3%;
    li{
      font-size: 17px;
      padding-top:1.5%;
      padding-left:2%;
      padding-right:2%;
      color:#000;
      width: max-content;
      &:hover{color: $metaMenuBlue;}
      @include mappy-bp(max-width xs){
        float:none;
        display:block;
        text-align:center;
      }
    }
    ul{
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    list-style-type: none; 
    @include mappy-bp(max-width sm){padding: 0;}
    @include mappy-bp(max-width xs){
      display: block;
      width: 100vw;
    }
    }
    @include mappy-bp(max-width xl){width: inherit;}
    @include mappy-bp(max-width sm){justify-content: center;}
    @include mappy-bp(max-width s){display: none;}
    @include mappy-bp(max-width xs){text-align: -webkit-center;}
  }

  #header-pic{
    height: 25vw;
    @include mappy-bp(max-width xs){height: 40vw;}
    @include mappy-bp(max-width xxs){height: 50vw;}
  }

  #header-pic img{width:100%;}

  .slider {
      width: 300px;
      height: 300px;
      display: flex;
      overflow-x: auto;
  }
  
  #main{
      padding-left: 10%;
      padding-top: 15%;
      padding-bottom: 5%;
      background-color: $mainColor;
      width: 80%;
      height: 600px;
      margin: auto;
      text-align: center;
    p{
      padding-top:50%;
      @include mappy-bp(max-width xxl){padding-top: 60%;}
      @include mappy-bp(max-width ml){padding-top: 80%;}
      @include mappy-bp(max-width m){padding-top: 70%;}
      @include mappy-bp(max-width s){padding-top: 60%;}
      @include mappy-bp(max-width xxs){padding-top: 80%;}
    }
    img{
      width: 80px;
      height: 80px;
      position:absolute;
      top: 35%;
      left: 35%;
      @include mappy-bp(max-width xm){
        top: 30%;
        left: 30%;
      }
      @include mappy-bp(max-width m){
        top: 25%;
        left: 25%;
      }
      @include mappy-bp(max-width ssm){
        width: 50px;
        height: 50px;
        left: 35%;
      }
    }
    div{ 
      position:relative;
      width: 25%;
      height: 40%;
      margin: 2%;
      float:left;
      background-color: $light;
      @include mappy-bp(max-width xs){
        width: 40%;
        height: 25%;
      }
    }
    @include mappy-bp(max-width m){height: 400px;}
    @include mappy-bp(max-width s){
      padding-top: 20vw; 
      height: 300px;
    }
    @include mappy-bp(max-width xs){
      padding-left: 9%;
      height: 500px;
    }
  }
  #sidebar{
      background-color: $light;
      width: 100%;
      height: 250px;
      margin-bottom: 5%;
    div{
      width: 70%;
      margin: auto;
      padding: 5% 0;
      @include mappy-bp(max-width xs){width: 100%;}
    }
    button{
      margin-top: 2%;
      padding:1% 4%;
      border: 2px solid $metaMenuBlue;
      color: $metaMenuBlue;
      background-color: $light;
    }
  }

  #ueberUns{
      position: relative;
      width: 100%;
      height: 250px;
      padding-bottom: 5%;
      background-color: #f0f0f8;
    div:first-child{
      width: 50%;
      margin: auto;
      padding-top: 5%;
      @include mappy-bp(max-width ssm){margin-bottom: 5%;}
      @include mappy-bp(max-width xs){width: 100%;}
    }
    button{
      margin-top: 2%;
      padding:1% 4%;
      border: 2px solid $metaMenuBlue;
      color: $metaMenuBlue;
      background-color: #f0f0f8;
    }
    @include mappy-bp(max-width ssm){height: 300px;}
    @include mappy-bp(max-width xs){margin-bottom: 10%;}
  }

  .slider {
      /* line them up horizontally */
      position: relative;
      display: flex;
      width: 96%;
      height: 120px;
      padding-bottom: 2%;
      padding-top: 7%;
      /* make it smooth on iOS */
      -webkit-overflow-scrolling: touch;
    div {
      /* make sure the width is honored */
      flex-shrink: 0;
      width: 300px;
      height: auto;
      margin:0 30px;
    }
  }

    .footerNav{
      font-size: 17px;
      text-align: center;
      padding: 5% 0;
      position: relative;
      li{
        display: inline;
        margin: 2%;
      }
    }

    #if{position: relative;}

    #adress{
        position: absolute;
        top: 10%;
        right: 10%;
        background-color: $metaMenuBlue;
        height: 500px;
        width: 500px;
        color: $light;
      img{
        width: 20px;
        height: 20px;
      }
      @include mappy-bp(max-width ssm){display: none;}
    }

    #adressText{
        margin-left: 15%;
        margin-top: 15%;
    }

    #masc-photo-right{
        @include mask-photo;
        top: 70vw;
        right: -400px; 
        @include mappy-bp(max-width xxl){top:130%;}
        @include mappy-bp(max-width xm){
        top: 110%;
        right: -450px; 
        }
        @include mappy-bp(max-width m){top:80%;}
        @include mappy-bp(max-width sm){
          top: 100%;
          right: -500px;
        }
        @include mappy-bp(max-width xs){display: none;}
    }

    #masc-photo-left{
        @include mask-photo;
        top: 130%;
        left: -200px; 
        @include mappy-bp(max-width xxl){top: 190%;} 
        @include mappy-bp(max-width xm){top: 170%;}
        @include mappy-bp(max-width m){top: 140%;}
        @include mappy-bp(max-width sm){
          top: 145%;
          left: -250px;
        }
        @include mappy-bp(max-width ssm){
          top: 150%;
          left: -300px;
        }
        @include mappy-bp(max-width xs){display: none;}
  }

  #unsereKunden{
      background-color: $metaMenuBlue;
      color: $light;
      width: 50%;
      height: auto;
      text-align: center;
      position:absolute;
      top: 90%;
      left: 25%; 
  }
  
  /* Slideshow container */
  .slideshow-container {
      position: relative;
      background: $metaMenuBlue;
      width: 50%;
      margin: auto;
      color: $light;
      top: -8vw;
      @include mappy-bp(max-width xs){
        width: 100%;
        top: -1vw;
      }
    }

    .mySlides{
      padding: 5% 5% 0 5%;
      @include mappy-bp(max-width ssm){padding-bottom: 2%;}
    }
  
    /* Next & previous buttons */
    .prev, 
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -30px;
      padding: 16px;
      color: #888;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      &:hover{
        background-color: rgba(0,0,0,0.8);
        color: $light;
      }
    }
    
    /* Position the "next button" to the right and prev to left*/
    .next {right: 0;}

    .prev {left: 0;}
    
    /* The dot/bullet/indicator container */
    .dot-container {
      position: relative;
      text-align: center;
      padding: 1.5% 5% 1.5% 5%;
      background: $metaMenuBlue;
      width: auto;
      margin: auto;
      top: 0;
      @include mappy-bp(max-width ssm){display: none;}
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color: $light;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      &:hover,
      &.active{
        background-color: #717171;
        height: 10px;
        width: 10px;
      }
    }
  
    /* Add a blue color to the author */
    .author {color: cornflowerblue;}
  
  .footerNav {
    div{
      background-color:#f0f0f8;
      padding:0.5%;
      width:5%;
      height:auto;
      position:absolute;
      right:5%;
      bottom:10%;
      @include mappy-bp(max-width s){
        width: 20px;
        bottom: 40%;
      }
      p:first-of-type{
        @include mappy-bp(max-width s){display: none;}
      }
    }
    img{transform: rotate(90deg);}
    ul{
      @include mappy-bp(max-width sm){padding-left: 0;}
    }
  }
 
  #nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
      @include mappy-bp(max-width sm){
        display: table-row;
        width: 100vw;
      }
      .hamburger{
        background: transparent;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 3vw;
        top: 16%;
      }
      a{
        @include mappy-bp(max-width xs){
          padding: 14px 16px;
          display: block;
          &:hover {
            background-color: #ddd;}
        }
      }
    }
    .bar {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }