.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}
html{
  overflow-x:hidden;
  }
  #container{
      width:100%;
      height:100%;
      margin:auto;
      font-family: Arial, Helvetica, sans-serif;
  }
  #header{
      background-color:#0062cc;
      min-height:3vh;
      padding-bottom:2%;
      color:white;   
  }
  a:link{
    cursor: pointer;
    text-decoration: none;
  }
  a:visited{
    color:#000;
  }
  button a:visited{
    color:#0062cc;
  }
  a:hover{
    color:#0062cc;
  }
  /*first two divs with phone number and working hours*/
  .headdivs{
     text-align:center;
     font-size: 15px;
  }
  /*working hours*/
  #left{
      float:left;
      margin-left:3%;
  }
  /*contact phone*/
  #right{
      float:right;
      margin-right:3%;
  }
  #logo-pic{
      float:left;
      padding: 1%;
  }
  #navbar{
    display: flex;
    justify-content: flex-end;
    width: inherit;
    margin-right: 3%;
  }
  #navbar li{
      font-size: 17px;
      padding-top:1.5%;
      padding-left:2%;
      padding-right:2%;
      color:#000;
      width: max-content;
  }
  #navbar ul{
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    list-style-type: none;
    
  }
  #header-pic{
    height:25vw;
  }
  #header-pic img{
      width:100%;
  }
  .slider {
      width: 300px;
      height: 300px;
      display: flex;
      overflow-x: auto;
    }
  
  #main{
      padding-left:10%;
      padding-top:15%;
      padding-bottom: 5%;
      background-color:#f0f0f8;
      width:80%;
      height:600px;
      margin:auto;
      text-align:center;
  }
  #main p{
    padding-top:50%;
  }
  #main img{
      width:80px;
      height:80px;
      position:absolute;
      top:35%;
      left:35%;
  }
  #main div{ 
      position:relative;
      width:25%;
      height:40%;
      margin:2%;
      float:left;
      background-color:#fff;
  }
  #sidebar{
      background-color: #fff;
      width:100%;
      height:250px;
      margin-bottom:5%;
  }
  #sidebar div{
      width:70%;
      margin:auto;
      padding: 5% 0;
  }
  #sidebar button{
      margin-top:2%;
      padding:1% 4%;
      border: 2px solid #0062cc;
      color:#0062cc;
      background-color: #fff;
  }
  #ueberUns{
      position:relative;
      width:100%;
      height:250px;
      padding-bottom:5%;
      background-color: #f0f0f8;
  }
  #ueberUns div:first-child{
      width:50%;
      margin:auto;
      padding-top: 5%;
  }
  #ueberUns button{
      margin-top:2%;
      padding:1% 4%;
      border: 2px solid #0062cc;
      color:#0062cc;
      background-color: #f0f0f8;
  }
  .slider {
      /* line them up horizontally */
      
      position: relative;
      display: flex;
      width:96%;
      height:120px;
      padding-bottom:2%;
      padding-top:7%;
  
      /* make it smooth on iOS */
      -webkit-overflow-scrolling: touch;
    }
    .slider div {
      /* make sure the width is honored */
      flex-shrink: 0;
      width: 300px;
      height: auto;
      margin:0 30px;
    }
    .footerNav{
      font-size: 17px;
      text-align: center;
      padding: 5% 0;
      position:relative;
    }
    .footerNav li{
        display:inline;
        margin:2%;
        color:#000;
    }
    #if{
        position:relative;  
    }
    #adress{
        position:absolute;
        top:10%;
        right:10%;
        background-color:#0062cc;
        height:500px;
        width:500px;
        color:#fff;
    }
    #adress img{
        width:20px;
        height:20px;
    }
    #adressText{
        margin-left:15%;
        margin-top: 15%;
    }
    #masc-photo-right{
        position: absolute;
        background-repeat: no-repeat;
        top:110%;
        right:-400px; 
    }
    #masc-photo-left{
      position: absolute;
      top:130%;
      background-repeat: no-repeat;
      left:-200px;  
  }
  #unsereKunden{
      background-color:#0062cc;
      color:#fff;
      width:50%;
      height:auto;
      text-align: center;
      position:absolute;
      top:90%;
      left:25%; 
  }
  
  /* Slideshow container */
  .slideshow-container {
      position: relative;
      background: #0062cc;
      width:50%;
      margin:auto;
      color:#fff;
      top:-8vw;
    }

    .mySlides{padding: 5% 5% 0 5%;}

  
    /* Next & previous buttons */
    .prev, 
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -30px;
      padding: 16px;
      color: #888;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      position: absolute;
      right: 0;
     
    }
    .prev {
      position: absolute;
      left: 0;
    
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, 
    .next:hover {
      background-color: rgba(0,0,0,0.8);
      color: white;
    }
    
    /* The dot/bullet/indicator container */
    .dot-container {
      position: relative;
      text-align: center;
      padding: 1.5% 5% 1.5% 5%;
      background: #0062cc;
      width:auto;
      margin:auto;
      top:0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      background-color:#fff;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
   /* Add a background color to the active dot/circle */
    .active, 
    .dot:hover {
      background-color: #717171;
      height: 10px;
      width: 10px;
    }
  
    
    /* Add a blue color to the author */
    .author {color: cornflowerblue;}
  
    .footerNav div{
      background-color:#f0f0f8;
      padding:0.5%;
      width:5%;
      height:auto;
      position:absolute;
      right:5%;
      bottom:10%;
    }
    .footerNav img{
      transform: rotate(90deg);
    }
  
  @media only screen and (max-width:1692px){
      
      #main p{
        padding-top:60%;
      }
      #masc-photo-right{
        -webkit-mask-box-image:url(./assets/mask.svg);
        position: absolute;
        background-repeat: no-repeat;
        top:130%;
        right:-400px; 
      }
       #masc-photo-left{
        -webkit-mask-box-image:url(./assets/mask.svg);
        position: absolute;
        top:190%;
        background-repeat: no-repeat;
        left:-200px;
      }}
  
  @media only screen and (max-width:1478px) {
   
     #main p{
      padding-top:60%;
    }
  #navbar{width: inherit;}
  }
  
  @media only screen and (max-width:1362px) {

    #nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  @media only screen and (max-width:1198px) {
    
    #main p{padding-top:80%;}}
  
  @media only screen and (max-width:1052px) {

  #navbar{width: inherit;}
  #main img{
    width:80px;
    height:80px;
    position:absolute;
    top:30%;
    left:30%;
  }
  #masc-photo-left{
    position: absolute;
    top:170%;
    background-repeat: no-repeat;
    left:-200px;
  }
  #masc-photo-right{
    position: absolute;
    background-repeat: no-repeat;
    top:110%;
    right:-450px; 
  }
 }
  @media only screen and (max-width:830px) {
    
    #header{height:80px;}

    #right{
      float:left;
      margin-left:3%;
    }

    #main{height:400px;}

  #main img{
    width:80px;
    height:80px;
    position:absolute;
    top:25%;
    left:25%;
  }
  #main p{padding-top:70%;}

  #masc-photo-left{
    position: absolute;
    top:140%;
    background-repeat: no-repeat;
    left:-200px;
  }

  #masc-photo-right{
    position: absolute;
    background-repeat: no-repeat;
    top:80%;
    right:-450px; 
  }

  #nav{display: flex;}
  }
  
  @media only screen and (max-width:798px) {
    #nav{
      display: table-row;
      width: 100vw;
    }
    #navbar ul{padding: 0;}

    #navbar{justify-content: center;} 

    #logo-pic{ padding: 1%;}

    #masc-photo-left{
      position: absolute;
      top:145%;
      background-repeat: no-repeat;
      left:-250px;
    }

    #masc-photo-right{
      position: absolute;
      background-repeat: no-repeat;
      top:100%;
      right:-500px; 
    }
  }
  
  @media only screen and (max-width:750px) {
    .dot-container {display:none;}

    .mySlides{padding-bottom: 2%;}
  
    #adress{display:none;}

    #masc-photo-left{
      position: absolute;
      top:150%;
      background-repeat: no-repeat;
      left:-300px;
    }
    #masc-photo-right{
      position: absolute;
      background-repeat: no-repeat;
      top:100%;
      right:-500px; 
    }
  
    #ueberUns div:first-child{
      width:50%;
      margin:auto;
      padding-top: 5%;
      margin-bottom:5%;   
  }
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

  #header{height:80px;}

  #right{margin-left:3%;}

  #main img{
  width:50px;
  height:50px;
  position:absolute;
  top:25%;
  left:35%;
  }

  #ueberUns{
    height:300px;
  }
}
  
  @media only screen and (max-width:620px) {

    .footerNav div{
      background-color:#f0f0f8;
      padding:0.5%;
      width:20px;
      height:auto;
      position:absolute;
      right:5%;
      bottom:40%;
    }

    .footerNav  div p:first-of-type{display:none;}

    #main{ 
      padding-top:20vw; 
      height: 300px;
    }
    #main p{padding-top:60%;}
    
    #nav .hamburger {
      background: transparent;
      cursor: pointer;
      display: block;
      position: absolute;
      right: 3vw;
      top: 16%;
    }
    #nav a:hover {
      background-color: #ddd;
      color: black;
    }
    .active {
      background-color: #04AA6D;
      color: white;
    }
    
    #navbar {
      display:none;
    }
    
    .bar {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
    .show .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    .show .bar2 {opacity: 0;}
    
    .show .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    #logo-pic{
      margin-bottom:2vw;
      margin-top: 6%;
    }
    #header{height:100px;}
  }
  
  @media only screen and (max-width:510px) {
    .dot-container {
     display:none;
    }
    .slideshow-container{
      width:100%;
      top: -1vw;
    }
    .headdivs{text-align: left;}
    
    #masc-photo-left{
     display:none;
    }
    #masc-photo-right{
     display:none;
    }
    #main{
      padding-left:9%;
      height:500px;
    }
    #main div{ 
      position:relative;
      width: 40%;
      height:25%;
      margin:2%;
      float:left;
      background-color:#fff;
  }
  #main p{
      padding-top:60%;
    }
  #sidebar{
    margin-bottom:5%;
  }
  #sidebar div{
    width:100%;
  }
  #ueberUns{
    margin-bottom:10%;
  }
  #adress{
   display:none;
  }
  #navbar{
    text-align: -webkit-center;
  }
  #navbar ul{
    display: block;
    padding: 0;
    width: 100vw;
  }
  #navbar li{
    font-size: 17px;
    float:none;
    display:block;
    padding-top:1.5%;
    padding-left:2%;
    padding-right:2%;
    text-align:center;
   
  }
  #logo-pic{
    margin-top:4%;
  }
  .footerNav ul{
    padding-left:0px;
  }
  #header{
    width:100%;
    height:100px;
  }
  #right{
   
    margin-right:0;
  }
  #left{
    margin-left:3%;
  }
  #header-pic{
    height:40vw;
  }
  .author{
    color:#fff;
  }
  #ueberUns div:first-child{
    width:100%;
    margin:auto;
    padding-top: 5%;
    margin-bottom:5%;
  }
  button{
    margin-left:35%;
  }
  #nav a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
#nav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #04AA6D;
  color: white;
}
#navbar{
  display:none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
}

  @media only screen and (max-width:360px) {
  
    .headdivs p{margin-top: 10px; margin-bottom: 0;}
  .slideshow-container{top:-1vw;}
    #header-pic{
    height:50vw;
  }
  #logo-pic{
    padding-left: 0;
  padding-bottom: 5%;
  }
  #main p{padding-top: 80%;}
  
  
}
